<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Join.css">
    <title> Help</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <div>

    <video id="videoplayer" src="@Url.Content("~/videos/LessonParking.mp4")" controls @*width="450" height="600"*@ loop/>
    
    </div>
        <div class="column right">
        <table>
            <tr> <td>Topio driving school </td> </tr>
            <tr> <td>Where to find us?</td> </tr>
            <tr> <td>Strada Dezrobirii, Craiova, Dolj</td> </tr>
            <tr> <td><img src="DezrobiriiStreet.png" style="height: 240px; width: 400px;"></td> </tr>
            <tr> <td>Email: Topio@yahoo.com</td> </tr>
        </table>
    </div>
    </div>
</body>
</html>
