@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Galerie.css">
    <title>Photo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="cat">
        <h2>Cat A</h2>
        <img src="SchoolCatA.jpg" width="304" height="200">
    </div>

    <div class="cat">
        <h2>Cat B</h2>
        <img src="InstructoriScoala.jpg" width="304" height="200">
    </div>

    <div class="cat">
        <h2>Cat C</h2>
        <img src="SchoolCatC.jpg" width="304" height="200">
    </div>

    <div class="cat">
        <h2>Cat D</h2>
        <img src="SchoolCatD.png" width="304" height="200">
    </div>

</body>
</html>