@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="instructor.css">
    <title> Instructors</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <img src="InstructoriScoala.jpg" width="304" height="200">
    <h1 id="instructorsH">These are the available instructors</h1>
    <p>We have the best instructors in the city.</p>

    <table>
        <tr>
            <th>Name</th>
            <th>Year of birth</th>
            <th colspan="2">Contact</th>
            <th>Car</th>
        </tr>
        <tr>
            <td>Popescu Ion</td>
            <td>1990</td>
            <td>0751234567</td>
            <td>popescuIon@ucv.com</td>
            <td>VW Passat 2.0TDI 190cp 2018</td>
        </tr>
        <tr>
            <td>Anghel Florin Mihai</td>
            <td>1987</td>
            <td>0771444555</td>
            <td>Anghel@ucv.com</td>
            <td>Dacia Sandero Stepway 1.5dci</td>
        </tr>
        <tr>
            <td>Florescu Gabriel</td>
            <td>1973</td>
            <td>0753932456</td>
            <td>florescuGabriel@ucv.com</td>
            <td>BMW 320d 184cp 2007</td>
        </tr>
        <tr>
            <td>Enculescu Mario</td>
            <td>1994</td>
            <td>0728973781</td>
            <td>enculescu_1_Mario@ucv.com</td>
            <td>Mercedes S Class 2001</td>
        </tr>
        <tr>
            <td>Ionescu Ion</td>
            <td>1967</td>
            <td>0751234567</td>
            <td>ionescu7345@ucv.com</td>
            <td>Porsche Panamera</td>
        </tr>
        <tr>
            <td>Barbu Mitroi Radu</td>
            <td>1950</td>
            <td>0755927482</td>
            <td>Barbu_Mitroi_Radu50@ucv.com</td>
            <td>Audi Q7 5.0 TDI</td>
        </tr>
    </table>

</body>
</html>

